.tabconnexion
{
width:515px;
margin-left:150px;
padding-top:10px;
margin-bottom:50px;
margin-right:130px;
border: solid black 0px;
border-radius:10px;
background:#968396;
}
.tabconnexion2
{
width:515px;
padding-top:10px;
margin-bottom:20px;
border: solid black 0px;
border-radius:10px;
background:#968396;
}